@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<buton @onclick="FetchData"> Get Data</buton>

@if (todo != null)
{

    <h3>Title: @todo.title</h3>
    <p>Completed: @todo.completed</p>
}

@code {
    public Todo todo;

    public Authenticate token;


    public HttpClient httpClient = new HttpClient();

    public async Task FetchData()
    {
        //todo = await httpClient.GetFromJsonAsync<Todo>("https://jsonplaceholder.typicode.com/todos/1");  

        token = await httpClient.GetFromJsonAsync<Authenticate>("https://healthcarebluebook.com/api/HcbbSecureWebService/");
    }



    public class Authenticate
    {
        
    }

    public class Todo
    {
        public int userID { get; set; }
        public int id { get; set; }
        public string title { get; set; }
        public bool completed { get; set; }

    }
}